@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,700;0,800;1,100;1,200&display=swap');


*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background: hsl(282, 38%, 22%);

}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    border-radius: 10px;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: minmax(120px, auto) repeat(5,100px);
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 30px;
    border: 1px solid #ffffff;
    outline: none;
    background-color:  hsl(271, 32%, 64%);
    color: #1d1d1d;
    

}

.calculator-grid > button:hover{
    background-color: #84c0b7;
}

.two-unit {
    grid-column: span 2;
}

.output-screen {
    grid-column: span 4;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output-screen .previous-operand{
    color: #dadada;
    font-size: 20px ;

}

.output-screen .current-operand{
    color: #dadada;
    font-size: 20px ;
    
}
